html {
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

b {
  font-weight: bold;
}

/* main app styles */

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #111;
  background-image: url("trianglify-lowres.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  padding: 15px;
  background: inherit;
  width: 70%;
  height: max-content;
  position: absolute;
  left: 15%;
  box-shadow: inset 0 0 8000px rgba(255, 255, 255, 0.981);
  border: 5px #111;
  margin-top: 6%;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin: 1% 0 3%;
}

textarea {
  width: 100%;
  height: 30vh;
  padding: 10px;
  border: 2px dashed #a1b0c5bd;
  outline: none;
  font-size: 1rem;
  resize: none;
  line-height: 1.5rem;
  background-color: #d5e6ffef;
}

textarea,
.output.row:hover {
  border-color: #4d90fe;
}

textarea:focus {
  border-color: #2775f3;
}
#no {
  width: 50%;
  height: 50px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 2rem;
  resize: none;
  line-height: 1.5rem;
}

.output.row {
  width: 100%;
  height: 10vh;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  margin: 1% 0;
  background-color: #e1eaf8ef;
  border: 2px dashed #a1b0c5bd;
}

.output.row div {
  display: inline-block;
  width: 42%;
  padding: 10px 15px;
  margin: 1%;
}

.output.row span {
  font-weight: bold;
  font-size: 1.5rem;
}

#readability {
  width: 52%;
  font-weight: bold;
}

#readability:hover {
  background-color: #4d90fe;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

#readability:active {
  background-color: #307af3;
}

.keywords {
  display: none;
  height: 10vh;
  margin: 4% 0 0;
  font-size: 2rem;
  font-weight: 900;
}

.keywords ul {
  font-weight: 400;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  background-color: #6795ebfa;
  border-radius: 5%;
  border: double rgb(192, 206, 232);
  margin: 2% 0;
}

.keywords li {
  display: inline-block;
  width: 44%;
  padding: 10px;
  margin: 1%;
}

/*
** Making it responsive
*/

@media (max-width: 750px) {
  .output.row {
    font-size: 1.8rem;
    text-align: center;
  }
  .output.row span {
    font-size: 1.3rem;
  }
  .keywords ul {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  /* rewriting old styles */
  .output.row {
    border: none;
    background-color: #fff;
  }
  .output.row div {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 2% auto;
    border: 1px solid #ddd;
    font-size: 1.8rem;
    background-color: #f9f9f9;
  }
  .output.row span {
    font-size: 2rem;
  }
  #readability {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .keywords {
    margin: 10% auto;
  }
  .keywords ul {
    font-weight: 400;
    border: none;
    font-size: 1.8rem;
    background-color: #f9f9f9;
    margin: 5% 0;
  }
  .keywords li {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 2% auto;
    border: 1px solid #ddd;
  }
}
